<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serilog:using:Debug" value="Serilog.Sinks.Debug"/>
		<add key="serilog:write-to:Debug"/>
		<add key="serilog:using:File" value="Serilog.Sinks.File"/>
		<add key="serilog:write-to:File.path" value="%APPDATA%/XmlFeedReader/logs/log.txt"/>
		<add key="serilog:write-to:File.rollingInterval" value="Day"/>
		<add key="serilog:using:Thread" value="Serilog.Enrichers.Thread"/>
		<add key="serilog:enrich:WithThreadId"/>
	</appSettings>
</configuration>
